# 1.2_ML_ClimateWins

## 01 Import Data & Libraries
## 02 Scaling the Data
#### 2.1 Check for missing values
#### 2.2 Scaling

### 01 Importing Data & Libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os
import sklearn
from sklearn.preprocessing import StandardScaler

In [5]:
path = r"C:\Users\wallm\02 2025 Machine Learning Project"

In [7]:
# Import the Dataset-weather-prediction-dataset-processed.csv file

df = pd.read_csv(os.path.join(path, '02 Data', '01 Original data', 'Dataset-weather-prediction-dataset-processed.csv'))

In [9]:
df.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,1,7,2.1,0.85,1.018,0.32,0.09,0,0.7,...,5,0.88,1.0003,0.45,0.34,0,4.7,8.5,6.0,10.9
1,19600102,1,6,2.1,0.84,1.018,0.36,1.05,0,1.1,...,7,0.91,1.0007,0.25,0.84,0,0.7,8.9,5.6,12.1
2,19600103,1,8,2.1,0.90,1.018,0.18,0.30,0,0.0,...,7,0.91,1.0096,0.17,0.08,0,0.1,10.5,8.1,12.9
3,19600104,1,3,2.1,0.92,1.018,0.58,0.00,0,4.1,...,7,0.86,1.0184,0.13,0.98,0,0.0,7.4,7.3,10.6
4,19600105,1,6,2.1,0.95,1.018,0.65,0.14,0,5.4,...,3,0.80,1.0328,0.46,0.00,0,5.7,5.7,3.0,8.4

In [11]:
df.index

RangeIndex(start=0, stop=22950, step=1)

In [23]:
df.shape

(22950, 170)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Columns: 170 entries, DATE to VALENTIA_temp_max
dtypes: float64(145), int64(25)
memory usage: 29.8 MB

### 02 Scaling

#### 2.1 Check for missing values

In [19]:
df.isnull().sum()

DATE                   0
MONTH                  0
BASEL_cloud_cover      0
BASEL_wind_speed       0
BASEL_humidity         0
                      ..
VALENTIA_snow_depth    0
VALENTIA_sunshine      0
VALENTIA_temp_mean     0
VALENTIA_temp_min      0
VALENTIA_temp_max      0
Length: 170, dtype: int64

In [25]:
df.shape

(22950, 170)

#### 2.2 Scaling

In [36]:
# Select only numerical columns excluding 'DATE'

num_cols = df.select_dtypes(include=['float64', 'int64']).columns
num_cols = num_cols.drop('DATE')

In [38]:
# Scaling useing the StandardScaler() command from the sklearn library

scaler = StandardScaler()

In [40]:
# Scale the numerical columns, now excluding 'DATE' as the identifier

df_scaled = pd.DataFrame(scaler.fit_transform(df[num_cols]), columns=num_cols)

In [42]:
# Add DATE column back in without scaling

df_scaled.insert(0, 'DATE', df['DATE'])

In [44]:
df_scaled.head()

,DATE,MONTH,BASEL_cloud_cover,BASEL_wind_speed,BASEL_humidity,BASEL_pressure,BASEL_global_radiation,BASEL_precipitation,BASEL_snow_depth,BASEL_sunshine,...,VALENTIA_cloud_cover,VALENTIA_humidity,VALENTIA_pressure,VALENTIA_global_radiation,VALENTIA_precipitation,VALENTIA_snow_depth,VALENTIA_sunshine,VALENTIA_temp_mean,VALENTIA_temp_min,VALENTIA_temp_max
0,19600101,-1.599964,0.660514,-0.02793,0.826097,-0.001949,-1.101066,-0.265148,-0.179228,-0.902918,...,-0.443701,0.761754,-1.299744,-0.806427,-0.088407,-0.024706,0.372147,-0.668215,-0.519743,-0.752237
1,19600102,-1.599964,0.244897,-0.02793,0.735760,-0.001949,-1.058108,1.658760,-0.179228,-0.810126,...,0.783085,1.183580,-1.262455,-1.042055,0.503361,-0.024706,-0.829285,-0.548046,-0.629054,-0.407141
2,19600103,-1.599964,1.076130,-0.02793,1.277781,-0.001949,-1.251420,0.155707,-0.179228,-1.065304,...,0.783085,1.183580,-0.432779,-1.136306,-0.396127,-0.024706,-1.009500,-0.067372,0.054135,-0.177078
3,19600104,-1.599964,-1.001953,-0.02793,1.458455,-0.001949,-0.821838,-0.445514,-0.179228,-0.114186,...,0.783085,0.480538,0.387574,-1.183432,0.669056,-0.024706,-1.039536,-0.998679,-0.164486,-0.838511
4,19600105,-1.599964,0.244897,-0.02793,1.729466,-0.001949,-0.746661,-0.164944,-0.179228,0.187388,...,-1.670486,-0.363113,1.729970,-0.794645,-0.490810,-0.024706,0.672505,-1.509396,-1.339569,-1.471186

In [46]:
df.shape

(22950, 170)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22950 entries, 0 to 22949
Columns: 170 entries, DATE to VALENTIA_temp_max
dtypes: float64(145), int64(25)
memory usage: 29.8 MB

In [55]:
# Check standard distribution

df_scaled[num_cols].std()

MONTH                  1.000022
BASEL_cloud_cover      1.000022
BASEL_wind_speed       1.000022
BASEL_humidity         1.000022
BASEL_pressure         1.000022
                         ...
VALENTIA_snow_depth    1.000022
VALENTIA_sunshine      1.000022
VALENTIA_temp_mean     1.000022
VALENTIA_temp_min      1.000022
VALENTIA_temp_max      1.000022
Length: 169, dtype: float64

In [57]:
df_scaled.to_csv(os.path.join(path, '02 Data', '02 Prepared data', 'Dataset-weather-prediction-dataset-scaled.csv'))